body {
    background-image: url('./icons/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: rubik;
    color: white;
  }
  .container {
    padding: 40px;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .pokedex_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }


.buscador {
  width: 300px;
  border-radius: 10px;
  text-align: center;
  margin-right: 10px;

}

p {
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

  #pokedex > * {
    width: 250px;
    border-radius: 10px;
    margin: 40px;
    -webkit-box-shadow: 0px 13px 10px 7px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 13px 10px 7px rgba(0,0,0,0.49);
    box-shadow: 0px 13px 10px 7px rgba(0,0,0,0.49);
  }

  .icons_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .icons {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }

  .icons > * {
    width: 3%;
    padding: 10px;
  }


  .card-grass {
    list-style: none;
    padding: 40px;
    background-color: #38BF4B;
    color: #222;
    text-align: center;
  }

  .card-fire {
    list-style: none;
    padding: 40px;
    background-color: #FF4500;
    color: #222;
    text-align: center;
  }
  .card-water {
    list-style: none;
    padding: 40px;
    background-color: #3393DD;
    color: #222;
    text-align: center;
  }
  .card-bug {
    list-style: none;
    padding: 40px;
    background-color: #83C300;
    color: #222;
    text-align: center;
  }
  .card-poison {
    list-style: none;
    padding: 40px;
    background-color: #B567CE;
    color: #222;
    text-align: center;
  }
  .card {
    list-style: none;
    padding: 40px;
    background-color: #919AA2;
    color: #222;
    text-align: center;
  }
  .card-electric {
    list-style: none;
    padding: 40px;
    background-color: #FBD100;
    color: #222;
    text-align: center;
  }
  .card-ground {
    list-style: none;
    padding: 40px;
    background-color: #E87236;
    color: #222;
    text-align: center;
  }
  .card-fairy {
    list-style: none;
    padding: 40px;
    background-color: #FB89EB;
    color: #222;
    text-align: center;
  }
  .card-fighting {
    list-style: none;
    padding: 40px;
    background-color: #E12C6A;
    color: #222;
    text-align: center;
  }
  .card-psychic {
    list-style: none;
    padding: 40px;
    background-color: #FF6676;
    color: #222;
    text-align: center;
  }
  .card-rock {
    list-style: none;
    padding: 40px;
    background-color: #C9B787;
    color: #222;
    text-align: center;
  }
  .card-steel {
    list-style: none;
    padding: 40px;
    background-color: #5A8FA3;
    color: #222;
    text-align: center;
  }
  .card-ghost {
    list-style: none;
    padding: 40px;
    background-color: #4B6AB3;
    color: #222;
    text-align: center;
  }
  .card-dragon {
    list-style: none;
    padding: 40px;
    background-color: #0070CA;
    color: #222;
    text-align: center;
  }
  .card-ice {
    list-style: none;
    padding: 40px;
    background-color: #4BD2C1;
    color: #222;
    text-align: center;
  }


  .card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;

  }
  .card-subtitle {
    font-weight: lighter;
    margin-top: 5px;
  }




  .card-image {
    height: 180px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    border-style:solid;
    border-color: black;
    border-width: 1px;
  }
  


#pokedex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}




  #pokedex > *:hover {
    animation: bounce 0.5s linear;
  }
  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }